{% extends "layout.html" %}

{% block title %}Glances-web{% endblock %}
{% block body %}
<div class="row">
	<div class="span12">
		<h1>Monitoring Dashboard</h1>
		<p>Glances server: <code>http://{{ session.get("glances_server") }}</code></p>
	</div>
</div>
<div class="row">
	<div class="span12">
		<hr>
		<div>
			<h3>CPU</h3>
			<span id="cpu-idle"></span> 
			<span id="cpu-iowait"></span> 
			<span id="cpu-irq"></span> 
			<span id="cpu-nice"></span> 
			<span id="cpu-system"></span> 
			<span id="cpu-user"></span> 
			<hr>
			<h4>Load Avg</h4>
			<div id="cpu-load-avg"></div>
			<hr>
			<h4>Per-CPU usage</h4>
			<div id="cpu-percpu"></div>
			<hr>
		</div>
		<div>
			<h3>Memory</h3>
			<span id="memory-usage"></span>
			<hr>
		</div>
		<h3>Disk</h3>
		<hr>
		<h3>IO</h3>
	</div>
</div>
<script>
window.glances_server = "{{ session.get('glances_server') }}";
</script>
{% endblock %}